body {
    background-color: rgb(39, 38, 43);
    color: white;
}

a {
    font-family: "orbitron", sans-serif;
}

.bg-secondary {
    background-image: linear-gradient(to right, #010104, #040b4d);
}

